body {
  background-color: lightblue;
}

.panel-style {
  background-color: white;
}

.visualization-card-link {
  text-decoration: none;
  color: black;
}

.visualization-selected {
  border:3px;
  border-color:darkblue;
  border-style: solid;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.0rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.0rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}